<%= link_to 'Home', landing_path %>
<h2>🎲 Available Games 🎲</h2>
<ul>
  <li>Chess</li>
  <li>Checkers</li>
  <li>Metroid</li>
  <li>Dice</li>
  <li>Spades</li>
</ul>

<%= link_to 'Check out the games', game_path %>

<h1>Get ready for family game night!</h1>
<h3>Date: Jan 26</h3>
<h3>Time: 5:30pm PT</h3>
<h3>Place: Zoom Balcony</h3>